*{
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: #e5d171;
}

body {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;

    margin: 30px;
    padding: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.container {
  max-width: 1440px;
  margin: 0 auto;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.link {
  color: #f8f8f8;
  text-decoration: none;
  transition: color 0.5s;
}
.nav-link  {
  padding: 0 20px;
  line-height: 50px;

  transition: 0.3s;
}


.link:hover {
  color: #691d1d;
}


.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
}
@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}



.cv-photo {
    height:300px ;
}




.section-title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #ffffff;
}

.section-title-name {
  font-size: 26px;
  font-weight: 500;
}

.contact-item {
  color: #691d1d;
}




.rs-logo{
  width: 60px;
  height: 40px;
}